.awards-hero {
	padding: 20px 0 140px 0;
}

.awards-hero__title {
	margin-bottom: 60px;
	font-weight: 600;
	font-size: 46px;
	line-height: 63px;
	color: #424242;
}

.awards-hero__list {
	list-style-type: none;
}

.awards-hero__item {
	width: 100%;
	max-width: 1160px;
	padding: 50px 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #aea38b;

	&:nth-child(1) {
		.awards-hero__item-text {
			margin-bottom: 100px;
		}
	}

	&:nth-child(2) {
		.awards-hero__item-text {
			margin-bottom: 100px;
		}
	}

	&:nth-child(3) {
		.awards-hero__item-text {
			margin-bottom: 62px;
		}
	}

	&:nth-child(4) {
		.awards-hero__item-text {
			margin-bottom: 100px;
		}
	}

	&:nth-child(5) {
		.awards-hero__item-text {
			margin-bottom: 24px;
		}
	}

	&:nth-child(6) {
		.awards-hero__item-text {
			margin-bottom: 40px;
		}
	}
}

.awards-hero__item-img {
	display: block;
	margin-right: 40px;
}

.awards-hero__item-title {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 28px;
	line-height: 140%;
	color: #424242;
}

.awards-hero__item-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #424242;
}

.awards-hero__item-link {
	display: block;
	width: 100%;
	max-width: 260px;
	padding: 18px;
	background-color: #d8b152;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
}

@media only screen and(max-width:910px) {
	.awards-hero__item {
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 800px;

		& .awards-hero__item-img {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}

@media only screen and(max-width:400px) {
	.awards-hero__title {
		margin-bottom: 40px;
		font-size: 25px;
		line-height: 34px;
	}

	.awards-hero__item-img {
		width: 300px;
		height: 200px;
	}

	.awards-hero__item-title {
		font-size: 18px;
	}

	.awards-hero__item-text {
		font-size: 14px;
	}

	.awards-hero__item-link {
		width: 100%;
		max-width: 300px;
	}
}
