@import 'visually-hidden';
@import 'container';
@import 'header';
@import 'hero';
@import 'services';
@import 'join';
@import 'footer';

// project page style
@import 'project';
@import 'ourlist';

// media page styles
@import 'media';

// awards page styles
@import 'awards';

// public page styles
@import 'public';
